#  
# Sample scripted installation file  
# https://connect.nimblestorage.com/thread/1506 
# Accept EULA  
vmaccepteula  
# Set root password  
rootpw vagrant
#Install on local disk overwriting any existing VMFS datastore  
install --firstdisk --overwritevmfs  
# Network configuration  

#SERIAL_PLACEHOLDER

network --bootproto=dhcp --device=vmnic0
#network --bootproto=static --device=vmnic0 --ip=10.0.2.15 --netmask=255.255.255.0 --gateway=10.0.2.2 --hostname=esxi.testlab.local --nameserver=10.0.2.3

#Reboot after installation completed  
reboot


%firstboot --interpreter=busybox

# http://www.virtuallyghetto.com/2014/01/how-to-restart-esxi-management-network.html
# esxcli network ip interface set -e false -i vmk0
# esxcli network ip interface set -e true -i vmk0

# DNS names
#esxcli system hostname set --fqdn=esxi.testlab.local
# esxcli network ip dns search add --domain=testlab.local
# # DNS server addresses
# esxcli network ip dns server add --server=10.0.2.3

#ssh/esxi shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
# supress ESXi Shell shell warning - Thanks to Duncan (http://www.yellow-bricks.com/2011/07/21/esxi-5-suppressing-the-localremote-shell-warning/)
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell
esxcli network firewall ruleset set --ruleset-id sshClient --enabled yes
#ssh/esxi shell end

# https://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.vcli.examples.doc%2Fcli_manage_users.9.5.html

sed -e 's/^\(password\s*requisite\s*.*\)$/#\1/' \
    -e 's/^\(password\s*required\s*.*\)$/#\1/' \
    -e 's/^\(password\s*sufficient\s*.*\) use_authtok \(.*\)$/\1 \2/' \
    -i /etc/pam.d/passwd

esxcli system account add -i vagrant -p vagrant -c vagrant

sed -e 's/^#\(password\s*requisite\s*.*\)$/\1/' \
    -e 's/^#\(password\s*required\s*.*\)$/\1/' \
    -e 's/^\(password\s*sufficient\s*.*pam_unix.so\) \(.*\)$/\1 use_authtok \2/' \
    -i /etc/pam.d/passwd

# http://kblnrz.blogspot.ba/2016/11/vcap-dcv-addedit-remove-users-on-esxi_21.html
esxcli system permission set -i vagrant -r Admin

# Remove unsupported SSHD option
sed -e 's/^\(PrintLastLog .*\)$/#\1/' -i /etc/ssh/sshd_config
